/* src/components/CustomCursor.css */

.custom-cursor {
    position: fixed;
    width: 20px; /* Cursor width */
    height: 20px; /* Cursor height */
    background-color: rgba(248, 3, 3, 0.8); /* Change this color */
    border-radius: 50%; /* Round shape */
    pointer-events: none; /* Ignore mouse events */
    transition: transform 0.1s ease; /* Smooth transition */
    mix-blend-mode: difference; /* For blending with background */
    transform: translate(-50%, -50%); /* Center the cursor */
    z-index: 100;
  }
  
  /* Fire flicker effect */
  @keyframes flicker {
    0% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1); /* Slightly larger for effect */
    }
  }
  
  .custom-cursor.hover {
    transform: translate(-50%, -50%) scale(1.5); /* Scale up on hover */
  }
  /* Fire particle effect */

  