.HeaderTitle{
    color: aliceblue;
    font-size: 80px;
    font-family: "SquidGameFont", sans-serif;

}
.TimerSidePage{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}