.HeaderTitle {
  color: aliceblue;
  font-size: 25px;
  font-family: "SquidGameFont", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 5px;
}
.MagicTitle {
  color: aliceblue;
  font-size: 25px;
  font-family: "SquidGameFont", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.TimerSidePage {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.TimeCountainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Houre,
.Min,
.Sec {
  font-size: 25px;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: aliceblue;
  font-family: "SquidGameFont", sans-serif;
  margin: 0px 10px;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
}

.cardMagic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.back {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  width: 200px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px 15px;
}

.back-content {
  position: absolute;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-content p{
  font-family: "SquidGameFont", sans-serif;

}
@keyframes fadeRight {
  from {
    transform: translateX(-215px);
  }

  to {
    transform: translateX(0px);
  }
}
@keyframes fadeLeft {
  from {
    transform: translateX(215px);
  }

  to {
    transform: translateX(0px);
  }
}
@keyframes fadeUP {
  from {
    transform: translateY(215px);
  }

  to {
    transform: translateY(0px);
  }
}
.fadeRightAnimation {
  animation: fadeRight 1s ease-in-out;
}
.fadeLeftAnimation {
  animation: fadeLeft 1s ease-in-out;
}
.fadeUPAnimation {
  animation: fadeUP 1s ease-in-out;
}

.btnColect{
  background-color: aliceblue;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "SquidGameFont", sans-serif;
  margin-top: 15px;
}
.btnColect p{
  margin: 0;
}
.btnColect:hover{
  background-color: rgb(155, 2, 2);
  color: aliceblue;
  transition: all 0.3s ease-in-out;
}

.GiftCard h1{
  font-family: "SquidGameFont", sans-serif;

}