/* index.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body takes the full height */
  width: 100%; /* Ensure body takes the full width */
  font-family: Arial, sans-serif; /* Global font family */
  background-image: url("./assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  width: 100vw;  
  height: 100vh; 
  display: flex;
  flex-direction: column;

}

/* width */
::-webkit-scrollbar {
  background: #181920;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181920;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181920;
  border-radius: 5px;
}
