@font-face {
  font-family: "SquidGameFont"; /* You can name this anything */
  src: url("../../font/squid.ttf") format("truetype"); /* Path to your font file */
  font-weight: bold; /* You can change this if necessary */
  font-style: normal; /* You can change this if necessary */
}
.mainTop {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.bgOne {
  filter: grayscale(50%) drop-shadow(30px 10px 4px #00000066);
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.name1 {
  color: aliceblue;
  font-family: "SquidGameFont", sans-serif;
  font-size: 100px;
  width: 100px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 20%;
}
.name2 {
  color: aliceblue;
  font-family: "SquidGameFont", sans-serif;
  font-size: 100px;
  width: 100px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 25%;
}

.shap1 {
  min-width: 180px;
  height: 180px;
  border-radius: 180px;
  border: solid 10px rgb(167, 2, 2);
  position: absolute;
  top: 12%;
  left: 4%;
}
.shap2 {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: rotate(-10deg);
}
.barDown {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  height: 80px;
  width: 100vw;
  position: absolute;
  bottom: 10%;
  transform: rotate(-2deg);
  white-space: nowrap;
}
.wordTrain {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.word {
  display: inline-block;
  margin-right: 20px;
  font-size: 50px;
  color: rgba(240, 248, 255, 0.507);
  font-family: "SquidGameFont", sans-serif;
}
.rightSide {
  max-width: 350px;
  max-height: 400px;
  position: absolute;
  right: 10%;
  top: 20%;
  background: rgba(155, 155, 155, 0.15);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}
.rightSide img{
  filter: drop-shadow(0px 0px 16px #00000086);
  min-width: 350px;
}

